@using System.Web.UI.WebControls
@using DSN.DAL
@using DSN.Models
@model List<RecDonationViewModel>
@{
//Layout = null;
}

<h2>My Received Donations</h2>
<div class="row">
    <div class="pull-right">
        <a data-toggle="modal" data-target="#myModal">Thank Everyone</a>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Need Id</th>
            <th>Need Title</th>
            <th>Donor</th>
            <th>Amount</th>
            @*<th>Time</th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(x => item.expenseId)</td>
                <td>@Html.DisplayFor(x => item.expenseName)</td>
                <td><a href="@Url.Action("UserProfile","Home", new { userId = item.donorId})">@Html.DisplayFor(x => item.donorName)</a></td>
                <td>@Html.DisplayFor(x => item.donationAmt)</td>
                @*<td>@Html.DisplayFor(x => item.donationTime)</td>*@
                <td>
                    <a data-toggle="modal" data-target="#myModal">Say Thanks</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Thank You Message</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>To:</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Message:</label>
                    <textarea class="form-control" placeholder="Thank you very much for donation." rows="3"></textarea>
                </div>   
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Send</button>
            </div>
        </div>

    </div>
</div>

@Scripts.Render("~/Scripts/MyScripts/MyScript.js")
